<main>
<form #userForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="campo-label">
    <label for="email">Email: </label>
    <input type="email" id="email" name="email" [(ngModel)] = "userModel.email">
</div>
    <div class="campo-label">
    <label for="senha"> Senha: </label>
    <input type="password" id="senha" name="senha" [(ngModel)] = "userModel.senha">
    </div>
    <button type="submit">Enviar</button>
</form>
    <p id="mensagem" *ngIf="mensagem != ''">{{mensagem}}"></p>
</main>

<a routerLink="contato">Contato</a>
